<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.chonghoMapper">

	<select id="userList" resultType="com.example.domain.userTableVO">
		select * from userTable limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="testList" resultType="com.example.domain.userTableVO">
		select num, gender, age, pick, point from usertable, picktable where num=unum
	</select>

    <select id="pointList" resultType="com.example.domain.userTableVO">
        select u.num, u.gender, u.age, p.pick, p.point from userTable u, pickTable p where u.num=p.unum and num=#{num} order by num;
    </select>
    
    <insert id="userInsert">
    	insert into userTable(gender, age) values(#{gender}, #{age})
    </insert>
    
    <insert id="pickInsert">
    	insert into pickTable(unum, pick, point) values(#{unum}, #{pick}, #{point})
    </insert>
    
    <select id="maxNum" resultType="int">
    	select max(num) from userTable
    </select>
    
    <select id="totalCount" resultType="int">
    	select count(*) from userTable
    </select>
    
</mapper>